Body{
    background-color: #0D0D0D;
}

div{
    color:#F1C2F2;  
    text-align: justify;
}

h1{
    text-align: center;
}

.btn-default{
    color: white; 
    background-color: #80658C;
    border-color: #80658C; 
}

.btn-default:hover{ 
    background-color: #DDACF2; 
    border-color: #80658C; 
    color: #0D0D0D; 
}

#button2{ 
    background-color: #534359;
    border-color: #534359; 
}

#button2:hover{ 
    background-color: #F1C2F2;
    border-color: #534359; 
    color: #0D0D0D;
}

#button2:active{ 
    background-color: #0D0D0D;
    border-color: #534359; 
    color: white;
}

img.img-responsive {
    max-width: 100%;
    text-align: center;
}

img.img-rounded {
    max-width: 15%;
    box-align: center;
}

h4{
    font-size:large;
}
#comms{
    display: block;
    color:#f2e6f2;
    background-color:#534359;
    border-radius: 10px;
    border: 2px solid #f2e6f2;
    margin: 2%;

    padding: 2%  ;
}

#banner_main{
    display: flex;
    color:#534359;
    background-color:#DDACF2;
    align-items: right;
    justify-content: right;
    font-family: Courier ;
    padding: .5%;
}
#titulo_main{
    border-radius: 10px;
    border: 5% solid #f2e6f2;
    background-color:#f2e6f2;
    font-weight: bold;
    font-size: 115%;
    padding-left: 1%;
    padding-right: 1%;
    }