Body{
    background-color: #0D0D0D
}

div{
    color:#F1C2F2;  
    text-align: justify;
}

h1{
    text-align: center;
}

.btn-default{
    color: white; 
    background-color: #80658C;
    border-color: #80658C; 
}

.btn-default:hover{ 
    background-color: #DDACF2; 
    border-color: #80658C; 
    color: #0D0D0D; 
}

#button2{ 
    background-color: #534359;
    border-color: #534359; 
}

#button2:hover{ 
    background-color: #F1C2F2;
    border-color: #534359; 
    color: #0D0D0D;
}

#button2:active{ 
    background-color: #0D0D0D;
    border-color: #534359; 
    color: white;
}

img.img-rounded {
    max-width: 15%;
    box-align: center;
}

h4{
    font-size:large;
}

#comms{
    display: block;
    border-radius: 10px;
    border: 1px solid #F1C2F2;
    margin: 2%;
    padding: 2%  ;
}

#banner_main{
    display: flex;
    color:#534359;
    background-color:#DDACF2;
    align-items: right;
    justify-content: right;
    font-family: Courier ;
    padding: .5%;
}

#titulo_main{
    border-radius: 10px;
    border: 5% solid #f2e6f2;
    background-color:#f2e6f2;
    font-weight: bold;
    font-size: 115%;
    padding-left: 1%;
    padding-right: 1%;
}

#score_form{
    border-radius: 20px; 
    border: 1px solid #DDACF2; 
    color:white; 
    font-weight: bold;
    display: inline-block; 
    align-items: center;
    justify-content: center;
    margin: 2%;
    padding: 1%; 
    margin: 1%;
    vertical-align: middle;
    line-height: 1.5;
}
#user_form{
    
    font-weight: bold;
}
.pie-chart{
    width: 20px;
    height: 20px;
    background:conic-gradient(
        #DDACF2 70%,
        #0D0D0D 30%
    );
    border-radius: 100%;
    border-right: 100px;
}

#poster {
    display:block;
    text-align: center;
    max-width: 100%;
    height: auto;
    width: 100%; /* Añade esta línea */
    background-color: black;
    margin: 0 auto;
    transition: box-shadow 0.1s, transform 0.1s;
    background-image: url(https://img.freepik.com/fotos-premium/fondo-degradado-negro-superpuesto-fondo-abstracto-noche-negra-noche-oscura-espacio-texto-fondox9_661047-838.jpg) no-repeat center;
    background-size: 100%; 
    background-repeat: no-repeat;
}

#poster:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0,1);
    cursor: pointer;
}