<!DOCTYPE html>
<html>

    <head>
        <a id="banner_main"> 
            <header id="titulo_main">
                La Rockola
            </header>
        </a>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
        <link type="text/css" rel="stylesheet" href="../stylePagDetalle.css" />
        <title>Detail page 1</title>
    </head>

    <body>
        <div class="container"> 
            <br>
            <h1>{{post.album}}</h1><hr>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive" src="{{post.cover}}" />
                </div>
                <div class="col-md-8">
                    <p> <h3>{{post.artist}}</h3> </p>
                    <p> <h2>{{post.year}}</h2> </p>
                    <p> Genre: </p>
                    <ul>
                        <li>{{post.genre}}</li>
                    </ul>
                    <p>User score: <strong> {{post.score}} </strong></p>
                    <p><strong> Review: </strong></p>
                    <p> {{post.review}}
                    </p>
                </div>
            </div>
            <br>
            <p></p>
            <div class= "d-flex justify-content-center gap-2"> 
                <a type="button" class="btn btn-default" href="/post/{{post.id}}/delete">Delete</a>
                <a type="button" class="btn btn-default" href="/post/{{post.id}}/edit">Edit</button>
                <a href="/"><button id="button2" type="button" class="btn btn-danger">See all</button> </a>
            </div>
            <br> <br>
            <div class="row">
                <div class="col-md-1"></div> 
                <div class="col-md-3"> 
                    <p> <strong> <em>Give it a try in...</em></strong></p>
                </div>
                <div class="col-md-4"> 
                    <a href="https://open.spotify.com" target="_blank"><img src="https://seeklogo.com/images/S/spotify-2015-logo-560E071CB7-seeklogo.com.png" class="img-responsive img-rounded"> </a>
                </div>
                <div class="col-md-4"> 
                    <a href="https://www.youtube.com" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png" class="img-responsive img-rounded"> </a>
                </div>
            </div>
            <br>
            <div> 
                <form action = "/post/{{post.id}}/update" method = "post"> 
                    <div class="row"> 
                        <div class="form-group col-md-2 mb-3">&nbsp;</div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="usuario" >User:</label>
                            <input name = "comment[user]" type="text" class="form-control" id="usuario" placeholder="Write down your username...">
                        </div>
                        <div class="form-group col-md-2 mb-3">
                            <label for="calificacion">Score:</label>
                            <select id="Score" class="form-control" name="comment[score1]">
                                <option selected>My score...</option>
                                <option value="1">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div> 
                    </div>
                    <div class="row"> 
                        <div class="form-group col-md-2 mb-3"> </div> 
                        <div class="form-group col-md-8 mb-3"> 
                            <label for="comentario">Coments:</label>
                            <textarea name="comment[content]" class="form-control" id="comentario" name= "comentario" placeholder="Add a coment to this album..." rows="5" ></textarea>
                        </div>
                    </div>
                    <div class= "d-flex justify-content-center gap-2"> <button type="submit" class="btn btn-default">Save</button>  </div>
                    <div class="row">  
                        <div class="form-group col-md-2 mb-3"> </div>   
                        <div class="form-group col-md-8 mb-3">
                                <container  id="comms">
                                    <h4>Recent reviews:</h4>
                                        {{#post.comment}}
                                            {{#score1}} 
                                                <a id="score_form"> 
                                                    {{.}}
                                                </a>
                                            {{/score1}}
                                            {{#user}} 
                                                <a id="user_form"> 
                                                    {{.}}
                                                </a>
                                            {{/user}}
                                            {{#content}} 
                                            <a id="content_form"> 
                                                {{.}}
                                            </a>
                                            {{/content}}
                                            <br>
                                            {{/post.comment}}
                                            {{^post.comment}} 
                                                <div> There are no reviews yet. </div>
                                            {{/post.comment}}  
                                </container>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>

