<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Rockola</title>
        <header><h1 class="display-1"> <span id="titulo">La Rockola</span></h1></header>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"><link/>
        
        <link type="text/css" rel="stylesheet" href="styleMain.css" />
    </head>
    <body>
        <div> <hr> </div>
        <div class="container">
            <div class="row"> 
                <div class = "col-lg-6"> 
                    <input id="search" type="text" name="search" placeholder="Search an artist...">
                    <button id="button2" class="btn btn-danger" type="submit" onclick="search_artist()">Search</button>
                </div>
                <div class = "col-lg-6" id="barra"> 
                    <input id="searchbar" oninput="search_title()" type="text" name="searchbar" placeholder="Filter an album...">
                </div>
            </div>
        </div>
        <div> <hr> </div>
        <div class="grid-container" id='posts'>
            {{#posts}} 
            <div class="item{{id}}">
                <a href="post/{{id}}">
                    <img src="{{cover}}" class="img-responsive" >
                </a>
                <div ><span id="vineta">&#160;</span> <b id = "b" class="album">{{album}}</b> ({{year}})<br><span id="vineta">&#160;</span> <b class="artist"> {{artist}} </b> </div>
                <br> 
            </div>
            {{/posts}}
            
            {{^posts}} 
            <div><span id="vineta">&#160;</span> There is no posts yet. </div>
            {{/posts}} 

        </div>
            
            <br>
            <hr>
            <div class="d-flex justify-content-around">
                <button class="btn btn-default"  onclick='loadMore()'>Load more</button>
                <a href="pagNuevoRockola.html">
                    <button class="btn btn-default" type="submit">Add an album to La Rockola!</button>
                </a>
                
                <button  class="btn btn-default" onclick="toggleLayout()">Toggle layout</button>
            </div>
            <script src="app.js"></script>
    </body>
    </html>
